ion-content ion-toolbar {
  --background: translucent;
}


div #verifyAnother{
  position:fixed;
  top: 50%;
  right: 25%;
  left: 25%;
  text-align: center;

}

div #container{
    position: fixed;
    top: 50%;
    width:100%;
    right: 40%;
    left: 30%;
    text-align: center;

}
