
ion-content ion-content ion-button #bottom{
    position: relative;
    top: 200px;
    
    margin: 0;
}
/*
ion-content ion-content ion-button {
    width: 100%;
    margin: 0;
    position: fixed;
    top: 300px;
}
*/