table{
    position:fixed;
    font-size:40px;
    text-align: center;
    bottom: 100px;
    margin-left:auto; 
    margin-right:auto;
    border-collapse:separate; 
    border-spacing: 0 15px; 
}
th,td{ 
    width: 150px; 
    text-align: center; 
    padding: 5px;
    } 